:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #4D5AE5;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F4F4FD;
    --logo-color: #4D5AE5;
}

body {
background-color: #FFFFFF;
color: #434455;
font-family: 'Roboto', sans-serif; 
}

/* --------------HEADER-------------- */

.header-logo {
font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.link {
text-decoration: none;
}

.header-logo-item {
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.header-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;   
        letter-spacing: 0.02em; 
        color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.adress-link {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

/** -------------------------MAIN-PAGE------------------------- */
/* --------------HERO-------------- */

.hero {
    background-color: var(--primary-text-color);
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em; 
        color: var(--primary-white-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--primary-white-color);
        cursor: pointer;
        background-color: var(--accent-color)
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--primary-white-color);
    background-color: #404BBF;
}

/* --------------ABOUT-------------- */

.about {}

.about-title {}

.about-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.about-item-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

/* --------------FUNCTIONS-------------- */

.functions {}

.functions-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}

.functions-list {}

.functions-item {}

/* --------------TEAM-------------- */

.team {}

.team-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}

.team-list {}

.team-list-item {}

.team-img {}

.team-img-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.team-img-text {
    font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

/** -------------------------PORTFOLIO------------------------- */
/* --------------FILTERS-------------- */

.filters {}

.filters-title {}

.filters-list {}

.filters-list-item {}

.filters-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--accent-color);
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: #404BBF;
    color: var(--primary-white-color);
}

/* --------------PRODUCTS-------------- */

.products {}

.products-title {}

.products-list {}

.products-list-item {}

.products-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.products-item-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

/* --------------FOOTER-------------- */

.footer {
    background-color: var(--primary-text-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
}

.footer-logo-item {
    color: var(--secondary-white-color);
}

.footer-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-white-color);
}